<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="employees">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>{{'EMPLOYEES_LIST' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="departments">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>{{'DEPARTMENTS_LIST' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
