<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="employeeForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <div class="validationErrors">
      <ng-container *ngFor="let validation of validationMessages">
        <div class="errorMessage"
          *ngIf="employeeForm.get('name').hasError(validation.type) && (employeeForm.get('name').dirty || employeeForm.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Lastname</ion-label>
      <ion-input type="text" formControlName="lastname" required></ion-input>
    </ion-item>
    <div class="validationErrors">
      <ng-container *ngFor="let validation of validationMessages">
        <div class="errorMessage"
          *ngIf="employeeForm.get('lastname').hasError(validation.type) && (employeeForm.get('lastname').dirty || employeeForm.get('lastname').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Age</ion-label>
      <ion-input type="number" formControlName="age" required></ion-input>
    </ion-item>
    <div class="validationErrors">
      <ng-container *ngFor="let validation of validationMessages">
        <div class="errorMessage"
          *ngIf="employeeForm.get('age').hasError(validation.type) && (employeeForm.get('age').dirty || employeeForm.get('age').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item *ngIf="departments">
      <ion-label color="medium">Department</ion-label>
      <ion-select formControlName="department">
        <ion-select-option *ngFor="let d of departments" [value]="d.id">
          {{ d.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validationErrors">
      <ng-container *ngFor="let validation of validationMessages">
        <div class="errorMessage"
          *ngIf="employeeForm.get('department').hasError(validation.type) && (employeeForm.get('department').dirty || employeeForm.get('department').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>