<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Departamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="departmentForm" novalidate>
    <ion-row style="display: block;">
      <ion-label>
        Create new department
      </ion-label>
      <ion-col col-10>
        <ion-item>
          <ion-label position="floating" color="primary">Department's name</ion-label>
          <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="validationErrors">
      <ng-container *ngFor="let validation of validationMessages">
        <div class="errorMessage"
          *ngIf="departmentForm.get('name').hasError(validation.type) && (departmentForm.get('name').dirty || departmentForm.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </form>

    <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding *ngFor="let department of departments">
        <ion-item-options side="start">
          <ion-item-option (click)="seeDepartment(department)">Details</ion-item-option>
          <ion-item-option color="danger" (click)="deleteDepartment(department)">Delete</ion-item-option>
        </ion-item-options>
        <ion-item>
          <span style="font-size: 2em;">&#8942;</span>
          <ion-label>{{department.name}}</ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="submitForm()">
        <ion-icon name="add" style="font-size: 3.5rem;"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>