<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="!department">
      Lista de empleados
    </ion-title>
    <ng-container *ngIf="department">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/departments"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Members of {{department.name}}
      </ion-title>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="display: block;">
    <ion-label>Mostrar incluidos desde</ion-label>
    <ion-item>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="DD/MM/YYYY" [(ngModel)]="datetimeString" (ionChange)="getEmployees()"></ion-datetime>
    </ion-item>
  </ion-row>
  <ion-row style="justify-content: flex-end;">
    <ion-label (click)="sortByDate()"><a>Ordenar por fecha de inclusión</a></ion-label>
  </ion-row>
  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let employee of employees">
      <ion-item-options side="start">
        <ion-item-option (click)="editEmployee(employee)">Edit</ion-item-option>
        <ion-item-option color="danger" (click)="deleteEmployee(employee)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-col style="display: contents;" col-9>
          <span style="font-size: 2em;">&#8942;</span>
          <ion-label>{{employee.name}} {{employee.lastname}} ,{{employee.age}}</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label class="dateLabel">{{ employee.initDate.toDate() | date: 'dd MMM HH:mm' }}</ion-label>
        </ion-col>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/create-employee" routerDirection="forward">
      <ion-icon name="add" style="font-size: 3.5rem;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>